<!DOCTYPE html>
<html lang="en">
<#include "header.html">
<body class="bg-dark">
    <div class="d-flex justify-content-center">
        <div class="d-flex flex-column">
            <label class="border-bottom border-light-subtle border-3 h2 align-self-center" for="msg"
                   style="color:#FCBF49; margin-bottom: 15px">Reminders</label>
            <div class="d-flex align-self-center">
                <form class="d-flex flex-row" action="NewLog" method="post">
                    <label for="msg" class="form-label">
                        <input class="form-control text-bg-dark bg-dark" id="msg" name="msg"
                            placeholder="Log Message"
                            type="text" required>
                    </label>
                    <button class="btn btn-dark btn-outline-light" style="margin-bottom: 10px; margin-left: 10px"
                        type="submit">Submit
                    </button>
                </form>
                <form>
                    <button class="btn btn-dark btn-outline-light" style="margin-bottom: 10px; margin-left: 10px"
                              type="submit" formmethod="post" formaction="Clear">Clear All</button>
                </form>
            </div>
            <div class="overflow-auto" style="max-height: 550px; width: 500px">
                <table class="table table-dark table-striped table-hover">
                    <thead style="position: sticky;top: 0">
                        <tr>
                            <th style="width:150px" scope="col">Time</th>
                            <th scope="col">Message</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">

                        <#list msgList as msg>
                            <tr>
                                <th style="width:150px" class="align-middle" scope="row">${msg.getTime()}</th>
                                <td style="word-wrap: break-word">${msg.getMessage()}</td>
                            </tr>
                        </#list>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
